@using Microsoft.AspNetCore.Identity
@using Yoda.Data
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    var user = UserManager.GetUserAsync(User);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - YodaNotes</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <link href="https://raw.githack.com/ttskch/select2-bootstrap4-theme/master/dist/select2-bootstrap4.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
    <link href="~/css/YodaCSS.css" rel="stylesheet" />


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.1/css/bootstrap.min.css" integrity="sha512-6KY5s6UI5J7SVYuZB4S/CZMyPylqyyNZco376NM2Z8Sb8OxEdp02e1jkKk/wZxIEmjQ6DRCEBhni+gpr9c4tvA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body class="bg-gray">
    <div class="bg-gray">
        <div class="container">
            <header class=" d-flex flex-wrap align-items-center  justify-content-md-between py-3 ">

                <a class="navbar-brand" asp-controller="Home" asp-action="Index"><img src="~/img/yodalogoheader.png" width="85" height="40" /></a>
                @if (!User.Identity.IsAuthenticated)
                {
                    <ul class="text-end">
                        <a asp-area="Identity" asp-page="/Account/Register" class="btn-signup">Sign Up</a>
                        <a asp-area="Identity" asp-page="/Account/Login" class="btn-login">Log In</a>
                    </ul>
                }
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="d-flex align-items-center text-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="text-light text-end">@user.Result.FirstName @user.Result.LastName </span>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                            <li><a asp-action="NotesDateCreated" asp-controller="Note" class="dropdown-item">Notes</a></li>
                            <li><a asp-area="Identity" asp-page="/Account/Manage/Index" class="dropdown-item">Account</a></li>
                            @if (User.IsInRole("Admin"))
                            {
                                <li><a class="dropdown-item">Admin panel</a></li>
                            }
                            <li><hr class="dropdown-divider"></li>
                            <li><a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post" class="dropdown-item">Log out</a></li>
                        </ul>
                    </a>
                }
            </header>
        </div>
    </div>

    <div class="col-xl-12 ">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/modal.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
