@page
@model RegisterModel
@{
    ViewData["Title"] = "Sign in";
}





<div class="bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <span class="anchor"></span>
                        <h2 class=" fw-normal text-center text-light">Sign in</h2>
                        <div class="card-body">
                            @if ((Model.ExternalLogins?.Count ?? 0) == 0)
                            {
                                <div>
                                    @*<p>
                                There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                article
                                about setting up this ASP.NET application to support logging in via external services
                                </a>.
                                </p>*@
                                </div>
                            }
                            else
                            {
                                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="row justify-content-center">
                                    <div>
                                        <p>
                                            @foreach (var provider in Model.ExternalLogins!)
                                            {
                                                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                            }
                                        </p>
                                    </div>
                                </form>
                            }
                            <form class="row justify-content-center" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                <hr />
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="col-12">
                                    <label class="text-light" asp-for="Input.FirstName"></label>
                                    <input asp-for="Input.FirstName" class="form-control" autocomplete="username" aria-required="true" />
                                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                </div>
                                <div class="col-12">
                                    <label class="text-light" asp-for="Input.LastName"></label>
                                    <input asp-for="Input.LastName" class="form-control" autocomplete="new-password" aria-required="true" />
                                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                </div>
                                <div class="col-12">
                                    <label class="text-light" asp-for="Input.Email"></label>
                                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="col-12">
                                    <label class="text-light" asp-for="Input.Password"></label>
                                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="col-12">
                                    <label class="text-light" asp-for="Input.ConfirmPassword"></label>
                                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>
                                <hr />

                                <button id="registerSubmit" type="submit" class="btn-signup col-md-4">Register</button>
                            </form>
                            <div style="padding: 70px;"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
